@import '/src/app/styles/variables.scss';

footer {
    background: $dark-gray;
    color: $white;
    padding: 1rem 2rem;
    line-height: 1;

    a {
        color: $blue;
        cursor: pointer;
        &:visited {
            color: $blue;
        }
    }
}