@import '/src/app/styles/variables.scss';

:host {
    flex: 1;
    display: flex;
    justify-content: center;

    align-items: center;
}

form {
    width: 440px;
    height: 150px;
    margin: 50px auto;

    .input-container {
        position: relative;
        background: $light-gray;
        border-radius: 12px;

        margin-bottom: 15px;

        overflow: hidden;

        input {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            padding: 15px;
            background: none;
            color: $white;
            line-height: 1;
            border: none;
            outline-color: $white;
            outline-width: 2px;
            font-size: 30px;
        }
    }
}

@media (max-width: 768px) {
    form {
        width: 80%;
    }
}