@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import './app/styles/variables.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}